@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="eventController" style="padding-left:20px;padding-right:20px">
    <img ng-src="{{event.imageUrl}}" alt="{{event.name}}" />
    <div class="row">
        <div class="span11">
            <h2>{{event.name}}</h2>
            <h2 ng-bind="event.name"></h2>
            <h2 ng-bind-template="{{event.name}} {{event.date}}"></h2>
        </div>
    </div>
    @*unsafe is depricated  *@
    <div ng-bind-html-unsafe="snippet"></div>
    <div ng-bind-html="snippet"></div>

    <h2 ng-show="boolValue">Show This</h2>
    <h2 ng-hide="boolValue">Show This</h2>

    <div class="row">
        <div class="span3">
            <div><strong>Date:</strong>{{event.date}}</div>
            <div><strong>Time:</strong>{{event.time}}</div>
        </div>
        <div class="span4">
            <address>
                <strong>Address:</strong><br />
                {{event.location.address}}<br />
                {{event.location.city}}, {{event.location.province}}
            </address>
        </div>

    </div>
    <hr />
    <h3>Session</h3>
    <ul class="thumbnails">
        <li ng-repeat="session in event.sessions">

            <div class="row session">
                <div class="span0 well votingWidget">
                    <div class="votingButton" ng-click="upVoteSession(session)">
                        <i class="icon-chevron-up icon-white"></i>
                    </div>
                    <div class="badge badge-inverse">
                        <div>{{session.upVoteCount}}</div>
                    </div>
                    <div class="votingButton" ng-click="downVoteSession(session)">
                        <i class="icon-chevron-down"></i>
                    </div>
                </div>
                <div class="well span9">
                    <h4 class="well-title">{{session.name}}</h4>
                    <h6 style="margin-top:-10px">{{session.creatorName}}</h6>
                    <span>Duration: {{session.duration}}</span>
                    <span>Level: {{session.level}}</span>
                    <p>{{session.abstract}}</p>
                </div>
            </div>
        </li>
    </ul>
</div>
